.sidebar {
  padding: 10px;
}

.main-content {
  display: grid;
  gap: 20px;
  padding: 20px;
  border-radius: 10px;
  grid-template: minmax(300px, 2fr) minmax(150px, 1fr) / minmax(300px, 1fr) 5fr;
}

.main-content div:nth-child(1) {
  grid-column: 1 / 2;
  grid-row: 1/ 3;
  background-color: red;
  gap: 20px;
}

.main-content > div:nth-child(2),
.main-content > div:nth-child(3) {
  background-color: blue;
  padding: 40px;
}

.formulario .item {
  margin: 5px; /* You can adjust the margin value as needed */
}
