/* Estilos para a barra de navegação */

:root {
  --blue-brb-0: #00abeb;
  --blue-brb-1: #0e76e0;
  --blue-brb-2: #023e7c;
  --blue-brb-3: #06abcf;
  --gray-brb: #e6e6e6;
}

.navbar {
  background-color: var(--blue-brb-1);
  color: #fff;
  padding: 10px;
  text-align: center;
}

.container {
  display: flex;
  padding: 10px;
}

/* Estilos para o formulário à esquerda */
.formulario {
  border-radius: 10px 10px 0 10px;
  flex: 1;
  padding: 20px;
  background-color: var(--blue-brb-0);
  margin-right: 10px;
}

.display-text {
  background-color: var(--gray-brb);
  flex: 4;
  min-width: 370px;
  border-radius: 10px 10px 10px 0;
  display: flex;
  flex-direction: column; /* Alinhar os elementos verticalmente */
  justify-content: center; /* Centralizar verticalmente */
  align-items: center; /* Centralizar horizontalmente */
}

.display {
  margin: auto auto;
  width: 80%;
  padding: 20px;
  background-color: var(--blue-brb-1);
  border-radius: 10px 10px 10px 0;
}

/*
    <style>
      html, body {
      min-height: 100%;
      }
      body, div, form, input, select, p { 
      padding: 0;
      margin: 0;
      outline: none;
      font-family: Roboto, Arial, sans-serif;
      font-size: 14px;
      color: #666;
      line-height: 22px;
      }
      h1 {
      margin: 15px 0;
      font-weight: 400;
      }
      .testbox {
      display: flex;
      justify-content: center;
      align-items: center;
      height: inherit;
      padding: 3px;
      }
      form {
      width: 100%;
      padding: 20px;
      background: #fff;
      box-shadow: 0 2px 5px #ccc; 
      }
      input, select, textarea {
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 3px;
      }
      input:hover, select:hover, textarea:hover {
      outline: none;
      border: 1px solid #095484;
      }
      input {
      width: calc(100% - 10px);
      padding: 5px;
      }
      select {
      width: 100%;
      padding: 7px 0;
      background: transparent;
      }
      textarea {
      width: calc(100% - 6px);
      }
      .item {
      position: relative;
      margin: 10px 0;
      }
      input[type="date"]::-webkit-inner-spin-button {
      display: none;
      }
      .item i, input[type="date"]::-webkit-calendar-picker-indicator {
      position: absolute;
      font-size: 20px;
      color: #a9a9a9;
      }
      .item i {
      right: 2%;
      top: 30px;
      z-index: 1;
      }
      [type="date"]::-webkit-calendar-picker-indicator {
      right: 1%;
      z-index: 2;
      opacity: 0;
      cursor: pointer;
      }
      .btn-block {
      margin-top: 20px;
      text-align: center;
      }
      button {
      width: 150px;
      padding: 10px;
      border: none;
      -webkit-border-radius: 5px; 
      -moz-border-radius: 5px; 
      border-radius: 5px; 
      background-color: #095484;
      font-size: 16px;
      color: #fff;
      cursor: pointer;
      }
      button:hover {
      background-color: #0666a3;
      }
    </style>
*/
